/* CSS Reset */

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: 'Montserrat', sans-serif;
}

body {
	font-size: 16px;
	line-height: 1.5;
}

body.with-menu:after {
	position: fixed;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li {
	margin: 0;
	padding: 0;
}

p {
	margin: 1em 0;
}

a:hover,
.nav-link:hover,
.nav-link.active {
	color: #ff9d00;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}

/* All sections */
section h2 {
	margin: 1em 0 1em; /* 1em here = 16px base size * 2.5em font size, which in this case is 40px */
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
}

section h3 {
	margin: 1em 0 0.5em;
	font-weight: bold;
}

section h2:first-child,
section h3:first-child {
	margin-top: 0;
}

section h5 {
	font-size: 1em;
	margin: 1em 0 0.15em;
}

section h6 {
	font-size: 0.85em;
	margin: 0.15em 0 0.05em;
	color: #999;
}

.container,
.container-fluid {
	padding: 100px 64px;
}

.button {
	display: inline-block;
	border: 1px solid;
	padding: 10px 15px;
	border-radius: 10px;
	text-decoration: none;
	font-size: 16px;
}

.button:hover {
	background: #ff9d00;
	color: #fff;
}

/* Header */

#header {
	position: fixed;
	width: 100%;
	min-height: 40px;

	z-index: 100;
}

.logo-image {
	display: block;
	height: 40px;
	width: auto;
}

.nav-list a {
	display: inline-block;
	padding: 12px;
	color: #fff;

	text-decoration: none;
}

/* Hero section */
.hero {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent url('../images/od-11-bg.jpg') center center no-repeat fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.hero:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.hero__content {
	position: absolute;
	width: 50%;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;

	text-align: center;

	color: #fff;

	z-index: 1;
}

.hero__title {
	font-size: 3em;
	margin-bottom: 1em;
}

.social-icon {
	margin: 1em;
	color: #fff;
}

/* About section */
.summary {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.avatar {
	width: 100%;
	height: auto;
}

.skills {
	margin: 2em 0;
	list-style-type: none;
}

.skill {
	font-weight: bold;
	margin-bottom: 1em;
}

/* Services section */
.my-services {
	background-color: rgba(220, 0, 0, 0.1);
}

.service-item i {
	font-size: 50px;
}

/* Resume section */

.experience-year {
	display: inline-block;
	padding: .25em 1em;
	color: #fff;
	background-color: #000;
}

.resume-row {
	padding: 20px 20px 10px;
	border-bottom: 1px solid #000;
}

h2 + .resume-row { /* .resume-row with and h2 before it */
	padding-top: 0;
}

.resume-row:last-child {
	border-bottom: none;
}

/* Quotes section */
.quote {
	position: relative;

	padding-top: 120px;
	padding-bottom: 120px;

	color: #fff;

	text-align: center;

	background-image: url('../images/desk.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
}

.quote h3 {
	font-size: 2.5em;
	margin-bottom: 0.25em;
}

.quote a {
	display: inline-block;
	margin-top: 2em;
	color: #fff;
}

.quote:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.25);
}

.quote-inner {
	position: relative;
	z-index: 1;
}

.quote .button {
	padding: 15px 40px;
	font-size: 1.2em;
}

/* Latest work */

.portfolio {
	padding-bottom: 0;
}

.portfolio-item {
	position: relative;
	cursor: pointer;
}

.portfolio-image {
	position: relative;
	display: block;
	max-width: 100%;
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: center center;
	transition: all .5s ease;
}

.portfolio-item:hover .portfolio-image {
	margin-top: -10px;
	box-shadow: 5px 5px 25px rgba(0,0,0,0.25);
}

/* Form */


/* Footer */
.footer {
	color: #fff;
	background: #000;
	text-align: center;
}

/* Do not display the menu button on larger screens */
@media screen and (min-width: 921px) {
	.menu-button,
	.menu-button-checkbox {
		display: none;
	}
}

/* Tablet and mobile */

@media screen and (max-width: 768px) {

	/* About me */

	.col-left,
	.col-right {
		width: 100%;
	}

	.col-right {
		padding-left: 0;
		padding-top: 40px;
	}
	
	/* Services */

	.service-item {
		margin-top: 3.5rem;
		text-align: center;
	}

	.service-item:first-child {
		margin-top: 0;
	}

	/* Resume */
	.resume h2 {
		text-align: left;
	}

	.resume-item {
		margin-top: 1rem;
	}

	.resume-row {
		padding: 50px 0 30px;
	}

	/* Portfolio */
	.portfolio-image {
		width: 100%;
		height: auto;
	}


	/* Contact */

}